:root{
    /**---Grey---*/
    --g_50: #f6f6f6;
    --g_100: #e7e7e7;
    --g_200: #d1d1d1;
    --g_300: #b0b0b0;
    --g_400: #888888;
    --g_500: #6d6d6d;
    --g_600: #5d5d5d;
    --g_700: #4f4f4f;
    --g_800: #454545;
    --g_900: #3d3d3d;
    --g_950: #262626;
    
    /**---Yellow---*/
    --y_50: #fefee8;
    --y_100: #fefdc3;
    --y_200: #fff989;
    --y_300: #feef46;
    --y_400: #fbdf14;
    --y_500: #f0c907;
    --y_600: #cb9903;
    --y_700: #a26e06;
    --y_800: #86560d;
    --y_900: #714612;
    --y_950: #422506;
    
    /**---Pink---*/
    --p_50: #fdf2f8;
    --p_100: #fce7f4;
    --p_200: #fccee9;
    --p_300: #faa7d6;
    --p_400: #f670b9;
    --p_500: #ee469d;
    --p_600: #dd257b;
    --p_700: #c01661;
    --p_800: #9f1550;
    --p_900: #841746;
    --p_950: #510626;
}
    
*{
    margin: 0;
    padding: 0;
    font-size: 21px;
    /* outline: red 3px solid; */
}

body{
    width: 100vw;
}
    
nav{
    width: calc(100% - 3em);
    height: 8vh;
    background-color: var(--g_500);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 0 1.5em;
}

/**-----navbar-standaard-----*/
.navItem{
    all: unset;
    color: var(--g_50);
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navItem i::before{
    font-size: 42px;
}

.navItem span{
    all: unset;
    font-size: 42px;
    max-width: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.navItem.button::after{
    content: "";
    width: 0%;
    height: 5px;
    background-color: var(--y_500);
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 999px;
    transition: 0.3s ease-in-out;
}

.navItem.dropDown .dropMenu{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--y_500);
    width: 0;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    padding: 2.5px 0;
    height: fit-content;
    transition: 0.3s ease-in-out;
}

.navItem.dropDown .dropMenu a{
    all: unset;
    height: 0;
    width: 100%;
    background-color: var(--y_400);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    color: var(--y_50);
}


/**-----navbar-active-----*/
.navItem.button.active::after{
    background-color: var(--p_500);
    width: 100%;
}

.navItem.dropDown.active .dropMenu{
    background-color: var(--p_500);
    width: 100%;
}

.navItem.dropDown.active .dropMenu a{
    background-color: var(--p_400);
    color: var(--p_50);
}

.navItem.dropDown .dropMenu a.active{
    box-shadow: 2px 2px 2px var(--p_900) inset, -2px -2px 2px var(--p_300) inset;
}

/**-----navbar-animation-----*/
.navItem.extend span{
    max-width: 120px;
    margin-right: 0.2em;
}

.navItem.button.extend::after{
    width: 100%;
}

.navItem.dropDown.extend .dropMenu{
    width: calc(100% - 10px);
    padding: 2.5px 5px;
}

.navItem.dropDown.drop .dropMenu{
    padding: 0 5px 5px;
}

.navItem.dropDown.drop .dropMenu a{
    height: 1.5em;
    margin-top: 5px;
}

.navItem.dropDown .dropMenu a:hover{
    box-shadow: 2px 2px 2px var(--y_900), -2px -2px 2px var(--y_300);
    transition: 0.1s ease-in-out;
}

.navItem.dropDown .dropMenu a.click{
    box-shadow: 2px 2px 2px var(--y_900) inset, -2px -2px 2px var(--y_300) inset;
    transition: 0.1s ease-in-out;
}

.navItem.dropDown.active .dropMenu a:hover{
    box-shadow: 2px 2px 2px var(--p_900), -2px -2px 2px var(--p_300);
    transition: 0.1s ease-in-out;
}

.navItem.dropDown.active .dropMenu a.click{
    box-shadow: 2px 2px 2px var(--p_900) inset, -2px -2px 2px var(--p_300) inset;
    transition: 0.1s ease-in-out;
}