:root{
    /**---Grey---*/
    --g_50: #f6f6f6;
    --g_100: #e7e7e7;
    --g_200: #d1d1d1;
    --g_300: #b0b0b0;
    --g_400: #888888;
    --g_500: #6d6d6d;
    --g_600: #5d5d5d;
    --g_700: #4f4f4f;
    --g_800: #454545;
    --g_900: #3d3d3d;
    --g_950: #262626;
    
    /**---Yellow---*/
    --y_50: #fefee8;
    --y_100: #fefdc3;
    --y_200: #fff989;
    --y_300: #feef46;
    --y_400: #fbdf14;
    --y_500: #f0c907;
    --y_600: #cb9903;
    --y_700: #a26e06;
    --y_800: #86560d;
    --y_900: #714612;
    --y_950: #422506;
    
    /**---Pink---*/
    --p_50: #fdf2f8;
    --p_100: #fce7f4;
    --p_200: #fccee9;
    --p_300: #faa7d6;
    --p_400: #f670b9;
    --p_500: #ee469d;
    --p_600: #dd257b;
    --p_700: #c01661;
    --p_800: #9f1550;
    --p_900: #841746;
    --p_950: #510626;
}
    
*{
    margin: 0;
    padding: 0;
    font-size: 21px;
    z-index: 0;
    /* outline: red 3px solid; */
}

body{
    width: 100vw;
    height: 100vh;
}
    
nav.head{
    width: calc(100% - 3em);
    height: 8%;
    background-color: var(--g_500);
    color: var(--g_50);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 0 1.5em;
    /* z-index: 10; */
}

/**-----navbar-standard-----*/
.navItem{
    all: unset;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

nav.head i::before{
    font-size: 42px;
}

.navItem span{
    all: unset;
    font-size: 42px;
    max-width: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.navItem:not(.dropDown)::after{
    content: "";
    width: 0%;
    height: 5px;
    background-color: var(--y_500);
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 999px;
    transition: 0.3s ease-in-out;
}

.navItem.dropDown .dropMenu{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--y_500);
    width: 0;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    padding: 2.5px 0;
    height: fit-content;
    transition: 0.3s ease-in-out;
}

.navItem.dropDown .dropMenu a{
    all: unset;
    height: 0;
    width: 100%;
    background-color: var(--y_400);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    color: var(--y_50);
}

.navItem.me{
    margin-left: auto;
}

.logoBoxCircle{
    height: 42px;
    width: auto;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoBoxSquare{
    height: 42px;
    width: auto;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoBoxCircle img{
    height: 100%;
    width: auto;
}

.logoBoxSquare img{
    height: 100%;
    width: auto;
}

.svgLogo{
    height: 42px;
    width: auto;
}


/**-----navbar-active-----*/
.navItem:not(.dropDown).active::after{
    background-color: var(--p_500);
    width: 100%;
}

.navItem.dropDown.active .dropMenu{
    background-color: var(--p_500);
    width: 100%;
}

.navItem.dropDown.active .dropMenu a{
    background-color: var(--p_400);
    color: var(--p_50);
}

.navItem.dropDown .dropMenu a.active{
    box-shadow: 2px 2px 2px var(--p_900) inset, -2px -2px 2px var(--p_300) inset;
}

/**-----navbar-animations-----*/
.navItem.extend span{
    max-width: 120px;
    margin-right: 0.2em;
}

.navItem.extend span.long{
    max-width: 240px;
    margin-right: 0.2em;
}

.navItem:not(.dropDown).extend::after{
    width: 100%;
}

.navItem.dropDown.extend .dropMenu{
    width: calc(100% - 10px);
    padding: 2.5px 5px;
}

.navItem.dropDown.drop .dropMenu{
    padding: 0 5px 5px;
}

.navItem.dropDown.drop .dropMenu a{
    height: 1.5em;
    margin-top: 5px;
}

.navItem.dropDown .dropMenu a:hover{
    box-shadow: 2px 2px 2px var(--y_900), -2px -2px 2px var(--y_300);
    transition: 0.1s ease-in-out;
}

.navItem.dropDown .dropMenu a:active{
    box-shadow: 2px 2px 2px var(--y_900) inset, -2px -2px 2px var(--y_300) inset;
    transition: 0.1s ease-in-out;
}

.navItem.dropDown.active .dropMenu a:hover{
    box-shadow: 2px 2px 2px var(--p_900), -2px -2px 2px var(--p_300);
    transition: 0.1s ease-in-out;
}

.navItem.dropDown.active .dropMenu a:active{
    box-shadow: 2px 2px 2px var(--p_900) inset, -2px -2px 2px var(--p_300) inset;
    transition: 0.1s ease-in-out;
}

/**-----carousel-----*/
section.carousel{
    width: 100%;
    height: 92%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35%;
    transition: 1s ease-in-out;

    /* background-image: url(media/test/achtergrond.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.carousel::Before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkblue;
    z-index: 1;
    background-image: none;
}

.carousel::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: chocolate;
    z-index: 1;
    background-image: none;
}

.carousel.after::before{
    opacity: 0%;
    transition: 0.3s ease-in-out;
}

.carousel.before::after{
    opacity: 0%;
    transition: 0.3s ease-in-out;
}

.carousel.before::before{
    opacity: 100%;
    transition: 0.3s ease-in-out;
}

.carousel.after::after{
    opacity: 100%;
    transition: 0.3s ease-in-out;
}

.carouselContainer{
    height: 80%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    z-index: 2;
}

.carouselContainer .carouselItem{
    height: 90%;
    width: auto;
    aspect-ratio: 1/1.5;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;

    /* From https://css.glass */
    background: rgba(246, 246, 246, 0.2); /* --g_50 met 20% opacity */
    border-radius: 25px;
    box-shadow: 4px 4px 6px rgba(61, 61, 61, 0.3); /* --g_900 met 30% opacity */
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(246, 246, 246, 0.6); /* --g_50 met 60% opacity */
}

.carousel button{
    all: unset;
    color: var(--g_800);
    opacity: 30%;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.carousel button:hover{
    opacity: 80%;
}

.carousel button i::before{
    font-size: 90px;
}

.carousel nav.selector{
    height: 2em;
    align-self: last baseline;
    margin-bottom: 1.5em;
    border-radius: 999px;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 30%;
    background-color: var(--g_100);
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.carousel nav.selector:hover{
    opacity: 80%;
}

.carousel nav.selector button{
    height: 1.5em;
    border-radius: 999px;
    background-color: var(--g_400);
    margin: 0.25em;
}

.carousel nav.selector button:hover{
    background-color: var(--g_600);
}

/* .aaaa.before.index2::before, .aaaa.after.index2::after{
    background-image: url(media/test/achtergrond.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aaaa.before.index3::before, .aaaa.after.index3::after{
    background-image: url(media/test/turtle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aaaa.before.index4::before, .aaaa.after.index4::after{
    background-image: url(media/test/windows\ xp.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */